body {
    font-family: Arial;
    font-size: 60%;
  }
  
  #wrapper {
    width: 60%;
    margin: 40px auto 0;
  }
  
  #product_list table {
    width: 600px;
  }
  
  #product_list table th {
    text-align: center;
    background-color: grey;
  }
  #product_list table td {
    text-align: center;
  }
  #search{
      margin-left: 330px;
  }